version: 2.1

orbs:
  github-release: h-matsuo/github-release@0.1.3

jobs:
  build-and-test:
    machine:
      image: windows-server-2019-vs2019:stable
    shell: powershell.exe
    resource_class: windows.medium
    steps:
      - checkout
      - run:
          name: Compute version number
          command: |
            (Select-String -Path .\DecodeServerClient\Program.cs -Pattern "System.Reflection.AssemblyVersion\(`"([^*]*)\*`"\)").Matches[0].Groups[1].Value + $env:CIRCLE_BUILD_NUM + "-" + $env:CIRCLE_SHA1.Substring(0, 7) | Tee-Object version.txt
      - persist_to_workspace:
          root: ./
          paths:
            - version.txt
      - run:
          name: Build with dotnet
          command: |
            dotnet build .\DecodeServerClient.sln --configuration Release -p:Version=$(Get-Content version.txt) -r win10-x64
            dotnet publish DecodeServerClient\DecodeServerClient.csproj --configuration Release -p:PublishSingleFile=true -p:Version=$(Get-Content version.txt) -r win10-x64
      - run:
          name: Test with VSTest
          command: |
            dotnet vstest .\DecodeServerClientTest\bin\Release\netcoreapp3.1\win10-x64\DecodeServerClientTest.dll /InIsolation /platform:x64
      - persist_to_workspace:
          root: DecodeServerClient/bin/Release/netcoreapp3.1/win10-x64/
          paths:
            - publish
      - store_artifacts:
          path: DecodeServerClient/bin/Release/netcoreapp3.1/win10-x64/publish

  release:
    executor: github-release/default
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Compute release tag
          command: echo "export RELEASE_TAG=\"v$(iconv -f UTF-16 -t UTF-8 version.txt | tr -d '\r')\"" >> $BASH_ENV
      - github-release/create:
          tag: $RELEASE_TAG
          title: $RELEASE_TAG
          description: $CIRCLE_BUILD_URL
          file-path: publish

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test
      - release:
          context: github-release
          requires:
            - build-and-test
